*  {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
}

header {
	width: 90%;
	height: 20%;
	background: #333;
	padding: 1.5% 5% 0 5%;
	font-family: 'Helvetica', sans-serif;
}

#logo {
	vertical-align: top;
	min-width: 8em;
	display: inline-block;
	color: #ddd;
	width: 40%;
	padding-right: 5%;
	padding-bottom: .4em;
}


#control {
	vertical-align: top;
	white-space: nowrap;
	display: inline-block;
	width: 55%;
	min-width: 11.7em;
	padding-top: .54em;
	padding-bottom: .4em;
}

#expression, button#go, #texButton, #pdfButton {
	display: inline-block;
	vertical-align: top;
	font-size: 15pt;
	font-family: 'Helvetica', sans-serif;
}

#expression {
	white-space: nowrap;
	height: 1.35em;
	min-width: 4em;
	width: 74%;
	padding: .15em 1% 0 1%;
	text-overflow: ellipsis;
	overflow: hidden;
	background: #e8e8dd;
}

#error {
	color: #d33;
}

button#go, #texButton, #pdfButton {
	height: 1.5em;
	min-width: 2em;
	width: 8%;
	background: #ddd;
	color: #3d3d3d;
	font-weight: bold;
}

button#go:hover, #texButton:hover, #pdfButton:hover {
	background: #f80;
	color: #201511;
}


#suggest {
	padding: .15em 1% 0 1%;
	text-overflow: ellipsis;
	position: fixed;
	background: #aaeeaa;
	z-index: 10;
}


.suggestEl {
	display: block;
}

.suggestEl:hover {
	background: #99dd99;
}


#AST_area {
	width: 90%;
	padding: 3% 5% 0% 5%;
	height: 80%;
	position: fixed;
}

.node {
	fill: #333;
	font-size: 15pt;
}

.cumulative {
	fill: #999;
	font-size: 11pt;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
}