body, figure  {
	margin: 0;
	font-family: 'Helvetica', sans-serif;
}

header {
	width: 100%;
	height: 20%;
	background: #EEEEEE;
}

#AST_area {
	width: 100%;
	height: 80%;
	background: #FFFFAA;
}

#control {
	width: 50%;
	border: none;
	border-radius: 5px;
}

input#expression, button#go {
	font-size: 15pt;
	border: none;
	border-radius: 3px;
	margin: 5% 0%;
	padding: .3em;
}

button#go {
	background: #ffccaa;
}

input#expression {
	background: #CCFFAA;
}